.adminSide{
    
    background-color: whitesmoke;
}
.main{
    display: flex;
    margin: 0;
    height: 500px;
    width: 92%;
}
.adminRoute{
    margin-left: 20px;
}
.adminSide {
    position: fixed;
    background-color: skyblue;
    height: 100%;
}