.adminLoginForm {
    background: linear-gradient(rgba(255, 166, 0, 0.795),rgba(255, 255, 0, 0.377));
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    
}
.lForm {
    background-color: whitesmoke;
    height: 25%;
    top: 250px;
    left: 160px;
    width: 250px;
    margin-left: 300px;
    position: absolute;
    z-index: 1;

    
}
.lForm h1{
    margin-left: 20px;
}
.login{
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.login input{
    height: 40px;
    width: 200px;
    border: none;
}
.password{
    margin-left: 20px;
   
    margin-bottom: 20px;

}
.password input{
    height: 40px;
    border: none;
    width: 200px;
}
.signIn {
    margin-left: 70px;
}
.signIn button{
    background-color: blue;
    color: white;
    border-radius: 10px;
   

}

.signIn button:hover{
    background-color: green;
}